@page "/products/{Id:int}/{ProductName}"

@if (product == null)
{
    <LoadingScreen />
}
else
{
    <section class="section-content padding-y bg">
        <div class="container">
            <div class="card">
                <div class="row no-gutters">
                    <aside class="col-md-6">
                        <article class="gallery-wrap">
                            <div class="img-big-wrap">
                                <a href="#"><img src="@product.ImageSource"></a>
                            </div>
                            @*<div class="thumbs-wrap">
                                <a href="#" class="item-thumb"> <img src="../images/items/12-1.jpg"></a>
                                <a href="#" class="item-thumb"> <img src="../images/items/12-2.jpg"></a>
                                <a href="#" class="item-thumb"> <img src="../images/items/12.jpg"></a>
                                <a href="#" class="item-thumb"> <img src="../images/items/4.jpg"></a>
                            </div>*@
                        </article>
                    </aside>
                    <main class="col-md-6 border-left">
                        <article class="content-body">

                            <h2 class="title">@product.Name</h2>

                            <div class="mb-3">
                                <var class="price h4">$@product.Price</var>
                            </div>

                            <p>@product.Description</p>

                            <dl class="row">
                                <dt class="col-sm-3">Brand</dt>
                                <dd class="col-sm-9">Odsy-1000</dd>

                                <dt class="col-sm-3">Color</dt>
                                <dd class="col-sm-9">Brown</dd>

                                <dt class="col-sm-3">Category</dt>
                                <dd class="col-sm-9">@product.CategoryName</dd>

                                <AuthorizeView Roles="@Constants.AdministratorRole">
                                    <dt class="col-sm-3">Quantity</dt>
                                    <dd class="col-sm-9">@product.Quantity</dd>
                                </AuthorizeView>
                            </dl>

                            <hr />

                            <AddToCartForm ProductId="@product.Id" ProductQuantity="@product.Quantity" />
                            
                        </article>
                    </main>
                </div>
            </div>
        </div>
    </section>
}

@code {
    private ProductsDetailsResponseModel product;

    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public string ProductName { get; set; }

    protected override async Task OnInitializedAsync()
    {
        this.product = await this.Http.GetFromJsonAsync<ProductsDetailsResponseModel>($"api/products/{this.Id}");
    }
}
