@page "/products"
@page "/products/{Page:int}"
@page "/products/{SearchQuery}"
@page "/products/{CategoryName}/{CategoryId:int}"

@if (products == null)
{
    <LoadingScreen />
}
else
{
    <section class="section-content padding-y bg">
        <div class="container">

            <div class="row">

                <Sidebar Page="Page" />

                <main class="col-md-9">

                    <header class="border-bottom mb-4 pb-3">
                        <div class="form-inline">
                            <span class="mr-md-auto">@products.Length Items found </span>

                            <div class="btn-group">

                                @if (ListView)
                                {
                                    <a @onclick="ChangeView"
                                       @onclick:preventDefault
                                       href="#"
                                       class="btn btn-outline-secondary active"
                                       data-toggle="tooltip"
                                       title="List view">
                                        <i class="fa fa-bars"></i>
                                    </a>
                                    <a @onclick="ChangeView"
                                       @onclick:preventDefault
                                       href="#"
                                       class="btn btn-outline-secondary"
                                       data-toggle="tooltip"
                                       title="Grid view">
                                        <i class="fa fa-th"></i>
                                    </a>
                                }
                                else
                                {
                                    <a @onclick="ChangeView"
                                       @onclick:preventDefault
                                       href="#"
                                       class="btn btn-outline-secondary"
                                       data-toggle="tooltip"
                                       title="List view">
                                        <i class="fa fa-bars"></i>
                                    </a>
                                    <a @onclick="ChangeView"
                                       @onclick:preventDefault
                                       href="#"
                                       class="btn btn-outline-secondary active"
                                       data-toggle="tooltip"
                                       title="Grid view">
                                        <i class="fa fa-th"></i>
                                    </a>
                                }

                            </div>
                        </div>
                    </header>

                    @if (GridView)
                    {
                        <div class="row">

                            @foreach (var product in this.products)
                            {
                                <div class="col-md-4">
                                    <figure class="card card-product-grid">
                                        <div class="img-wrap">
                                            <img src="@product.ImageSource">
                                            <span class="topbar">
                                                <a @onclick="() => AddToWishlist(product.Id)"
                                                   @onclick:preventDefault
                                                   href="#"
                                                   class="float-right">
                                                    <i class="fa fa-heart"></i>
                                                </a>
                                            </span>
                                            <a class="btn-overlay" href="/products/@product.Id/@product.Name">
                                                <i class="fa fa-search-plus"></i>
                                                Quick view
                                            </a>
                                        </div>
                                        <figcaption class="info-wrap">
                                            <div class="fix-height">
                                                <a href="/products/@product.Id/@product.Name" class="title">
                                                    @product.Name
                                                </a>
                                                <div class="price-wrap mt-2">
                                                    <span class="price">$@product.Price</span>
                                                    @*<del class="price-old">$1980</del>*@
                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-block btn-primary">Add to cart </a>
                                        </figcaption>
                                    </figure>
                                </div>
                            }

                        </div>
                    }
                    else
                    {
                        foreach (var product in this.products)
                        {
                            <article class="card card-product-list">
                                <div class="row no-gutters">
                                    <aside class="col-md-3">
                                        <a href="/products/@product.Id/@product.Name" class="img-wrap">
                                            <img src="@product.ImageSource" />
                                        </a>
                                    </aside>
                                    <div class="col-md-6">
                                        <div class="info-main">
                                            <a href="/products/@product.Id/@product.Name" class="h5 title">
                                                @product.Name
                                            </a>

                                            <p> @product.Description </p>
                                        </div>
                                    </div>
                                    <aside class="col-sm-3">
                                        <div class="info-aside">
                                            <div class="price-wrap">
                                                <span class="price h5"> $@product.Price </span>
                                                @*<del class="price-old"> $198</del>*@
                                            </div>
                                            <p class="text-success">Free shipping</p>

                                            <br />

                                            <p>
                                                <a href="/products/@product.Id/@product.Name"
                                                   class="btn btn-primary btn-block">
                                                    Details
                                                </a>
                                                <a @onclick="() => AddToWishlist(product.Id)"
                                                   @onclick:preventDefault
                                                   href="#"
                                                   class="btn btn-light btn-block">
                                                    <i class="fa fa-heart"></i>
                                                    <span class="text">Add to wishlist</span>
                                                </a>
                                            </p>
                                        </div>
                                    </aside>
                                </div>
                            </article>
                        }
                    }

                    <Pagination />

                </main>

            </div>

        </div>
    </section>
}

@code {
    private ProductsListingResponseModel[] products;

    [Parameter]
    public string SearchQuery { get; set; } = string.Empty;

    [Parameter]
    public decimal? MinPrice { get; set; }

    [Parameter]
    public decimal? MaxPrice { get; set; }

    [Parameter]
    public int? CategoryId { get; set; }

    [Parameter]
    public string CategoryName { get; set; }

    [Parameter]
    public bool ListView { get; set; } = false;

    [Parameter]
    public bool GridView { get; set; } = true;

    [Parameter]
    public int Page { get; set; } = 1;

    protected override async Task OnParametersSetAsync() => await this.LoadData();

    private async Task LoadData()
    {
        if (this.Page == 0)
        {
            this.Page = 1;
        }

        var requestUrl = $"api/search/products" +
                $"?category={this.CategoryId}" +
                $"&minPrice={this.MinPrice}" +
                $"&maxPrice={this.MaxPrice}" +
                $"&query={this.SearchQuery}" +
                $"&page={this.Page}";

        this.products = await this.Http.GetFromJsonAsync<ProductsListingResponseModel[]>(requestUrl);
    }

    private async Task AddToWishlist(int id)
    {
        var token = await this.LocalStorage.GetItemAsync<string>("authToken");
        this.Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);

        await this.Http.PostAsJsonAsync($"api/wishlists/{id}", id);

        this.NavigationManager.NavigateTo("/wishlist");
    }

    private void ChangeView()
    {
        this.ListView = !this.ListView;
        this.GridView = !this.GridView;
    }
}